@tailwind base;
@tailwind components;
@tailwind utilities;


.loader {
  border-top-color: #691e09;
  -webkit-animation: spinner 1.5s linear infinite;
  animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spinner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

input:focus { 
  outline: none !important;
  border-color: rgba(203, 213, 224, 0.5)  !important;
  box-shadow: 0 0 10px rgba(203, 213, 224, 0.5)  !important;
}
textarea:focus { 
  outline: none !important;
  border-color: rgba(203, 213, 224, 0.5)  !important;
  box-shadow: 0 0 10px rgba(203, 213, 224, 0.5)  !important;
}
.pointer {
  cursor: pointer;
}
html {
  overflow-y: scroll;
}
body {
  background: #f1f3f5;
  font-family: 'Work Sans', sans-serif;
  letter-spacing: 0.8px;
  word-break: break-word;
}
.main-logo {
  font-family: 'Montserrat';
}

body{
  margin:0;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
/* .hollla{
  background:url(''),linear-gradient(233deg, #80e56420, #80c22525, #803d9c31);
  width:100%;
  height:100vh;
  background-size:cover;
  background-blend-mode: hard-light;
  animation: hue-rotate 20s linear infinite;
}

@keyframes hue-rotate {
  from {
    -webkit-filter: hue-rotate(0);
    -moz-filter: hue-rotate(0);
    -ms-filter: hue-rotate(0);
    filter: hue-rotate(0);
  }
  to {
    -webkit-filter: hue-rotate(360deg);
    -moz-filter: hue-rotate(360deg);
    -ms-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
  }
} */

.text-spaceping-4 {
  word-spacing: 1rem;
}

.border-btm {
  border-bottom: 1px solid #E2E8F0;
}

.set-blog-index-images {
  min-width: 228.33px;
  min-height: 284.33px;
  max-width: 228.33px;
  max-height: 284.33px;
}

ol, ul {
  margin: 0;
  margin-left: 0.7rem;
  padding: 0;
  padding-left: 0.7rem;
}

.max-width-1000{
  max-width: 1000px;
}

.max-width-1170{
  max-width: 1170px;
}

.max-width-735{
  max-width: 735px;
}

.max-width-920{
  max-width: 920px;
}

.max-width-850{
  max-width: 850px;
}
.bg-clip-text{
  -webkit-background-clip: text;
}
.clip-circle {
  clip-path: circle(60px at center);
}
.clip-ellipse {
  clip-path: ellipse(60px 40px at center);
}
.clip-polygon {
  clip-path: polygon(0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 100%, 50% 0%, 0% 0%);
}
.cut-corrner{
  position: relative;
}
.cut-corrner:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-top: 44px solid #f1f3f5;
  border-right: 44px solid transparent;
  width: 0;
}

.search-input::-webkit-search-cancel-button {
  /* Remove default */
  -webkit-appearance: none;
}


.search-input + svg {
  position: absolute;
  top: 28%;
}

.search-input + svg {
  visibility: visible;
}
.search-input:placeholder-shown + svg {
  visibility: hidden;
} 



.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 140px;
  left: -2rem; 
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}